<p id="notice"><%= notice %></p>

<p>
  <b>Name Area:</b>
  <%= @area.name %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %> |
<%= link_to 'Create a Table', areas_path(@table) %>

