<h1>Listing tables</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th>Height</th>
    <th>Length</th>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tables.each do |table| %>
  <tr>
    <td><%= table.name %></td>
    <td><%= table.capacity %></td>
    <td><%= table.height %></td>
    <td><%= table.length %></td>
    <td><%= table.area_id %></td>
 
 
<% end %>
</table>
<br>
<%= link_to 'Back', areas_path %>

